<%- include('partials/header') -%>
<h1>Home</h1>
<p><%=StartingContent%></p>

<%blogs.forEach(function(blog){%>
<h2><%=blog.title%></h2>
<!-- <p><%=blog.post%></p> -->
<%let content=blog.post.slice(0,150);%>
<%content=content+'...';%>

<p>
    <%=content%>
    <a href='/test/<%=blog.title%>'>Read more</a>
</p>

<%}) %>
<%- include('partials/footer') -%>