<%- include("partials/header") -%>
<h1>Home</h1>
<p><%=StartingContent%></p>

<%blogs.forEach(function(blog){%>
<h2><%=blog.title%></h2>
<p><%=blog.post%></p>
<%}) %>
<%- include('partials/footer') -%>